*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid orange; */

}

html,body{
    width: 100%;
    min-height: 2000px;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:10px;
    font-size:20px;
  }
  
  nav > ul{
    display:flex;
    align-items:center;
    justify-content:space-around;
  }
  
  nav > ul > img{
    max-width: 20px;
    
  }
  

.header-content{
    padding:10px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.header-title h3{
    padding-bottom: 20px;
}

.header-title small{
    font-size: medium;
}


.header-btn{
    margin: 50px;
}

.btn-main{
    padding:10px;
    width: 250px;
    color: white;
    background-color: black;
    font-weight: bold;
    
}


.contenedor{
    padding: 50px;
    max-width: 1000px;
    min-width: 700px;
    margin: 0 auto;
    min-height: 1000px;
   
}



.cajas-body{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(250px,1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(250px, auto);
}


.caja{

    background: whitesmoke;


    font-size: 3rem;
    color:black;
    box-shadow: 3px 3px 3px lightgray;
    background-position: center;
    background-size: cover;

    /* Centrar las imagenes dentro de la caja */
    display: flex;
    align-items: center;
    justify-content: center;

}

.caja img {

    /* Tamaño de las imaganes */
    width: 100px;
    height: 100px;
  }

.caja:hover{
    box-shadow: 4px 4px 4px gray;
    transform: translate(0, 5px) scale(1.01);
    transition:  all 250ms;
}


.caja:nth-of-type(1){
    grid-column: 1/3;
    grid-row: 1/3;
    
}


.caja:nth-of-type(6){
    grid-column: 2/4;
    grid-row: 3/5;

}


.caja:nth-of-type(7){
    grid-column: 1/3;
    grid-row: 5/7;
}
